@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-size: 14px;
	--line-height: 1.2rem;
	--title-bg: #fff;
	--title-text: #333;
}

@layer base {
	body {
		@apply bg-fixed bg-no-repeat bg-center bg-cover;
		background-image: url('/bg.jpg');
		color: #fff;
		font-family: 'DM Mono';
		font-size: var(--font-size);
		line-height: var(--line-height);
		padding: 1rem 2rem;
	}

	a {
		@apply underline;
		color: #DD5A9E;
	}
	
	a:hover {
		background-color: #DD5A9E;
		color: #fff;
	}

	h1, h2, p, ul {
		padding-bottom: 1.2rem;
	}

	li {
		@apply ml-4 relative;
	}

	li:before {
		@apply absolute -left-4 text-gray-600;
		content: "*";
	}

	h2 {
		color: #4E9BE9;
	}

	.squeeze {
		@apply container mx-auto rounded-md;
		box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.6);
		border: solid 1px #333;
	}

	.bar {
		@apply flex mx-0 justify-between;
		background-color: #242424;
	}

	.blade {
		@apply inline-block ml-0 mr-0 mb-0 pl-0 pr-3 py-0 relative;
	}

	.blade:after {
		@apply absolute block h-0 top-0 w-0 left-full;
		border-left-width: calc(var(--line-height) / 2);
		border-left-line: solid;
		border-bottom: var(--line-height) solid transparent;
		content: "";
	}

	header {
		@apply rounded-tl-md rounded-tr-md;
	}

	header .blade {
		@apply rounded-tl-md;
		background-color: #4E9BE9;
	}

	header .blade:after {
		border-left-color: #4E9BE9;
	}

	header h1.blade {
		@apply mr-4 pl-5;
		background-color: var(--title-bg);
		color: var(--title-text);
	}

	header h1.blade:after {
		border-left-color: var(--title-bg);
	}

	header h1 > a, header h1 > a:hover {
		@apply no-underline text-black bg-transparent;
	}

	.social-icons {
		@apply flex flex-row flex-grow items-center justify-end px-4;
	}

	.social-icons > a {
		@apply ml-3 my-0 text-white;
	}

	.social-icons > a:hover {
		background-color: transparent;
		color: #4E9BE9;
	}
	
	.social-icons > a > svg {
		height: var(--font-size);
		width: var(--font-size);
	}

	.content {
		@apply relative pl-12 pr-2;
		background-color: rgb(17 17 18 / 80%);
	}

	.gutter {
		@apply absolute h-full text-right top-0 left-0 w-8 overflow-y-hidden;
		color: #2a282c;
	}

	.contact {
		@apply flex flex-row items-start sm:max-w-none max-w-xs;
	}

	.contact > label {
		@apply inline-block;
		min-width: 4.5rem;
	}

	.contact > input,
	.contact > textarea {
		@apply px-1 w-80;
		background-color: rgb(35 24 46 / 70%);
		color: #e5e5e5;
	}

	.contact > input:focus,
	.contact > textarea:focus {
		background-color: rgb(55 38 72 / 70%);
		outline: none;
	}

	.contact > textarea {
		height: 6rem;
	}

	.contact > button {
		@apply mt-4 sm:mt-0 ml-auto sm:ml-4 mr-3 pl-4 pr-3 flex-shrink-0 relative;
		background-color: #DD5A9E;
		color: #fff;
	}

	.contact > button:disabled {
		@apply text-black;
		background-color: #333;
	}

	.contact > button:after {
		@apply absolute block h-0 top-0 w-0 left-full;
		border-left: calc(var(--line-height) / 2) solid #DD5A9E;
		border-bottom: var(--line-height) solid transparent;
		content: "";
	}

	.contact > button:disabled:after {
		border-left: calc(var(--line-height) / 2) solid #333;
	}

	.contact-submit {
		@apply flex-wrap;
	}

	footer {
		@apply rounded-bl-md rounded-br-md;
		color: #959595;
		font-size: .7rem;
	}

	.chevron {
		@apply inline-block ml-0 mr-0 mb-0 pl-0 pr-3 py-0 relative;
	}

	.chevron:after {
		@apply absolute block h-0 top-0 w-0 left-full;
		border-left-width: calc(var(--line-height) / 3);
		border-left-line: solid;
		border-top: calc(var(--line-height) / 2) solid transparent;
		border-bottom: calc(var(--line-height) / 2) solid transparent;
		content: "";
	}

	footer .chevron {
		@apply rounded-bl-md;
		background-color: #333;
	}

	footer .chevron:after {
		border-left-color: #333;
	}

	footer .ver {
		@apply mr-4 pl-5;
		background-color: #000;
	}

	footer .ver:after {
		border-left-color: #000;
	}
}
